*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color:hsl(212, 45%, 89%);
    font-family:'Outfit',sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    padding:20px;
}
.card{
    background-color:white;
    border-radius:15px;
    max-width: 320px;
    width:100%;
    text-align: center;
    padding:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    
}
.card img{
    width: 100%;
    border-radius: 10px;
}
.card h1{
    color:hsl(218, 44% 22%);
    font-size:1.2rem;
    margin:15px 0 10px;
    font-weight:700;
}
.card p{
    color:hsl(220,15%, 55%);
    font-size:15px;
    margin-bottom:10px;
    font-weight:400;

}
@ media (min-width:1440px){
    body {background-color:hsl(212,45%,89%);
    }
    .card{
        max-width: 400px;
    }
}